.header-row {
  justify-content: space-between;
}

::ng-deep .modal-backdrop {
  z-index: 1040 !important;
}
.card-header {
  padding: 10px 4px 1px 12px !important;
  background-color: white;
}

.align {
  text-align: center;
}

.secondary-icon {
  color: #6bd098;
}
.primary-icon {
  color: #51cbce;
}

.danger-icon {
  color: #ef8157;
}
